mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.select-file__container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.select-file__container p {
  margin-bottom: 0;
}

.page-number {
  width: 50px;
}

.mb {
  margin-bottom: 15px;
}

pdf-viewer {
  display: block;
}

.error {
  color: #ff4146;
}

#progress {
  margin-top: 50px;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#progress .bar,
#progress .bg {
  height: 20px;
}

#progress .bg {
  background-color: #e3e3e3;
}

#progress .bar {
  width: 0;
  max-width: 100%;
  background-color: #3f51b5;
  transition: .5s width;
}

.outline-list li a {
  cursor: pointer;
}

.outline-list li a:hover {
  color: #ea1f62;
}

.spacer {
  flex: 1 1 auto;
}

mat-drawer {
  width: 320px;
  padding: 12px;
}

mat-drawer-container {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 0;
}

pdf-viewer {
  height: 100%;
}

.title {
  width: 284px;
}

.toggle-menu {
  margin-right: 20px;
}