.page-content {
    padding-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 480px) {
    .page-content {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.select-file__container {
    margin-top: 10px;
    margin-bottom: 20px;
}
.select-file__container p {
    margin-bottom: 0;
}

.page-number {
    width: 50px;
}

.mb {
    margin-bottom: 10px;
}

pdf-viewer {
    display: block;
}
