.pager {
  position: absolute;
  bottom: 60px;
  left: 50%;
  color: white;
  display: flex;
  font-size: 12px;
  height: 36px;

  .page {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);

    border-right: 1px solid white;
    padding: 8px;
  }

  .operators {
    font-size: 12px;
    display: flex;
    align-items: center;
    border-right: 1px solid white;

    .operator {
      cursor: pointer;
      display: block;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      width: 36px;
      height: 36px;
      justify-content: center;
      font-size: 18px;

      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }
    }

    .zoom-value {
      font-size: 12px;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      width: 36px;
      height: 36px;
      justify-content: center;
    }
  }
}
